<%- include('partials/main-header') -%>

<section class="text-center">
    <h1 class="pb-4">Categories</h1>
</section>

<section class="pb-4 pt-4">
    <section class="d-flex mb-2 align-items-center">
        <h2>Cookout</h2>
    </section>
    <section class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <% if(typeof food.cookout !== 'undefined' && food.cookout.length > 0) { %>
            <% food.cookout.forEach(function(recipe, index) { %>
                <a href="/recipe/<%- recipe._id %>" class="col text-center latest_link">
                    <div class="latest_img shadow">
                        <img src="<%- recipe.image %>" class="img-fluid sticky-top" style="top: 20px" 
                         alt="<%- recipe.name %>" loading="lazy">
                    </div>
                    <div class="pt-1"><%- recipe.name %></div>
                </a>
            <% }) %>
            <% } else { %>
                <p>No recipes found.</p>
        <% } %>
    </section>
</section>

<section class="pb-4 pt-4">
    <section class="d-flex mb-2 align-items-center">
        <h2>Baby Shower</h2>
    </section>
    <section class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <% if(typeof food.babyShower !== 'undefined' && food.babyShower.length > 0) { %>
            <% food.babyShower.forEach(function(recipe, index) { %>
                <a href="/recipe/<%- recipe._id %>" class="col text-center latest_link">
                    <div class="latest_img shadow">
                        <img src="<%- recipe.image %>" class="img-fluid sticky-top" style="top: 20px" 
                         alt="<%- recipe.name %>" loading="lazy">
                    </div>
                    <div class="pt-1"><%- recipe.name %></div>
                </a>
            <% }) %>
            <% } else { %>
                <p>No recipes found.</p>
        <% } %>
    </section>
</section>

<section class="pb-4 pt-4">
    <section class="d-flex mb-2 align-items-center">
        <h2>Quick & Easy</h2>
    </section>
    <section class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <% if(typeof food.quickEasy !== 'undefined' && food.quickEasy.length > 0) { %>
            <% food.quickEasy.forEach(function(recipe, index) { %>
                <a href="/recipe/<%- recipe._id %>" class="col text-center latest_link">
                    <div class="latest_img shadow">
                        <img src="<%- recipe.image %>" class="img-fluid sticky-top" style="top: 20px" 
                         alt="<%- recipe.name %>" loading="lazy">
                    </div>
                    <div class="pt-1"><%- recipe.name %></div>
                </a>
            <% }) %>
            <% } else { %>
                <p>No recipes found.</p>
        <% } %>
    </section>
</section>

<section class="pb-4 pt-4">
    <section class="d-flex mb-2 align-items-center">
        <h2>Shindig</h2>
    </section>
    <section class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <% if(typeof food.shindig !== 'undefined' && food.shindig.length > 0) { %>
            <% food.shindig.forEach(function(recipe, index) { %>
                <a href="/recipe/<%- recipe._id %>" class="col text-center latest_link">
                    <div class="latest_img shadow">
                        <img src="<%- recipe.image %>" class="img-fluid sticky-top" style="top: 20px" 
                         alt="<%- recipe.name %>" loading="lazy">
                    </div>
                    <div class="pt-1"><%- recipe.name %></div>
                </a>
            <% }) %>
            <% } else { %>
                <p>No recipes found.</p>
        <% } %>
    </section>
</section>

<section class="pb-4 pt-4">
    <section class="d-flex mb-2 align-items-center">
        <h2>Sunday Dinner</h2>
    </section>
    <section class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
        <% if(typeof food.sunday !== 'undefined' && food.sunday.length > 0) { %>
            <% food.sunday.forEach(function(recipe, index) { %>
                <a href="/recipe/<%- recipe._id %>" class="col text-center latest_link">
                    <div class="latest_img shadow">
                        <img src="<%- recipe.image %>" class="img-fluid sticky-top" style="top: 20px" 
                         alt="<%- recipe.name %>" loading="lazy">
                    </div>
                    <div class="pt-1"><%- recipe.name %></div>
                </a>
            <% }) %>
            <% } else { %>
                <p>No recipes found.</p>
        <% } %>
    </section>
</section>

<%- include('partials/footer') -%>