<%- include('partials/main-header') -%>

<section class="container card-container">
  <h1>My Favorite Recipes</h1>
  <% console.log(recipes[0]) %> 
  <section class="row row-cols-1 row-cols-md-3 g-4">
    <% for(let i=0; i<recipes.length; i++) {%>
      <%if(recipes[i].favorites.includes(user.id)) {%>
    <section class="col">
      <section class="card h-100">
        <img src="<%= recipes[i].image%>" class="card-img-top" alt="...">
        <section class="card-body">
          <h5 class="card-title"><%= recipes[i].name%></h5>
          <a href="/recipe/<%= recipes[i]._id%>" class="btn btn-primary">View Recipe</a>
        </section>
        <section class="card-footer">
          <span class="badge rounded-pill bg-primary"><%= recipes[i].category%></span>
        </section>
      </section>
    </section>
    <% } %>
    <% } %>
  </section>
</section>

<%- include('partials/footer') -%>