<%- include('partials/main-header') -%>

<section class="container card-container">
    <h1 class="pb-4">Latest Recipes</h1>
  <section class="row row-cols-1 row-cols-md-3 g-4">
        <% if(recipe !== '') { %>
            <% recipe.forEach(function(recipe, index){ %>
            <section class="col">
            <section class="card h-100">
                <img src="<%- recipe.image %>" class="img-fluid" style="top: 20px" 
                        alt="<%- recipe.name %>" loading="lazy">
                <section class="card-body">
                <h5 class="card-title"><%= recipe.name %></h5>
                <a href="/recipe/<%= recipe._id %>" class="btn btn-outline-warning text-dark">View Recipe</a>
                </section>
                <section class="card-footer">
                <span class="badge rounded-pill text-light bg-dark"><a href="/categories" style="text-decoration:none; color:white"><%= recipe.category%></a></span>
               <!-- <span class="badge rounded-pill btn btn-warning"><a href="/recipes/user/<%- recipe.user._id %>" style="text-decoration: none; color:black"><%- user.displayName %></a></span> -->
                </section>
            </section>
            </section>
            <% }) %>
        <% } else { %>
            <p>No items found.</p>
        <% } %> 
  </section>
</section>
<section class="px-4 py-5 my-5 text-center">
    <section class="col-lg-6 mx-auto d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/submit-recipe" class="btn btn-warning btn-lg">Submit Recipe</a>
    </section>
    <img src="/img/mom+dad_v2.png" class="d-block mx-auto mb-4 img-fluid" alt="" width="566" height="208" Loading="lazy">
</section>

<%- include('partials/footer') -%>
