<%- include('partials/main-header') -%>

<% if(recipe != null) { %>

    <section class="row">
        <section class="col-12 col-md-4">
            <img src="<%- recipe.image %>" class="img-fluid sticky-top" style="top: 20px" 
            alt="<%- recipe.name %>" loading="lazy">
        </section>
        <section class="col-12 col-md-8">
            <section class="row">
                <section class="col-12"><h1><%- recipe.name %></h1></section>
                <section class="col-12 mb-4">
                    <i class="bi bi-tag"></i>
                    <%- recipe.category %>
                   <!--<p>Recipe By: <a href="/recipes/user/<%- recipe.user._id %>"><%- user.displayName %></a></p>
                </section>-->
                <form
                    class="col justify-content-end"
                    action="/favoriteRecipe/<%= recipe.id %>?_method=PUT"
                    method="POST"
                >
                    <button class="<%if(recipe.favorites.includes(user.id)){ %> bi bi-bookmark-check-fill <%} else { %> bi bi-bookmark-plus <% }%> btn btn-warning" type="submit"></button>
                </form>
            </section>
            <section class="row pt-4">
                <section class="col-12">
                    <h4>Ingredients</h4>
                    <ul class="list-group list-group-flush">
                        <% recipe.ingredients.forEach(function(ingredients, index) { %>
                            <li class="list-group-item"><%= ingredients %></li>
                       <% }) %>
                    </ul>
                </section>
            </section>
            <section class="col-12" style="white-space: pre-line">
                <h4>Instructions</h4>
                <ol class="list-group list-group-flush">
                    <% recipe.instructions.forEach(function(instructions, index) { %>
                        <li class="list-group-item"><%= instructions %></li>
                   <% }) %>
                </ol>
            </section>
        </section>
    </section>

<% } else { %>
    <p>No recipes found.</p>
<% } %>    

<%- include('partials/footer') -%>